html, body {
    height: 100%;
}

html {
   
}

body {
    /*
    display: table-cell;
    vertical-align: middle;*/
}

.main {
     display: table;
    margin: auto;
    /*display: table-cell;*/
    vertical-align: middle;
    margin-top: 5%;
    padding: 5%;
    background: #f8f9fa!important;
} 